categorias.txt
idscategorias.txt
productos.txt
idsproductos.txt
tallas.txt
idstallas.txt
marcas.txt
idsmarcas.txt
colores.txt
idscolores.txt
clientes.txt
idsclientes.txt
idsproveedores.txt
proveedores.txt
contienes.txt
idscontienes.txt
idsusuarios.txt
usuarios.txt
